@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montagu Slab", sans-serif;
}

body {
    background-color: #184b2f;
    background-size: auto;
    background-repeat: no-repeat;
}

.navbar {
    width: auto;
    height: auto;
    padding-top: -15px;
    padding-bottom: -15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #006445;
    background-size: inherit;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 110px;
    position: relative; /* de navbar zelf*/
}
.navbar ul li a {
    font-family: Barlow;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    /* de text van de navbar*/
}
        .navbar ul li::after{
        content: '';
        height: 3px;
        width: 0;
        background: #184b2f;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.7s;
    }
    .navbar ul li:hover::after{
        width: 100%;
}
.banner {
    width: 20%;
    scale: 69%;
    margin-left: 0px;
    height: 120px;
    margin-top: -19px; /*de TCR Logo bovenaan de website*/
}

.footer {
    background-color: #006445;
    height: 100px;
    margin-top: 590px;
    scale: 80%;
    width: 50%;
    margin-left: 400px; /* de onderstuk van het pagina waar de social media links in staan */
}
.footlogo {
    scale: 68%;
    height: 0%;
    margin-left: -150px; /* de TCR Logo in de footer*/

}
.button {
    background-color: #dbff4a ;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px; /*Button voor aanmelden kan*/
}
#slide {
    position: absolute;
    bottom: -100px; /* SET THE SLIDER TO BE OFFSCREEN INITIALLY */
    width: 100px;
    height: 100px;
    transition: 1s;
}

.footer:hover #slide {
    transition: 1s;
    bottom: 0; /* SET THE SLIDER TO BE 0 */
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}
