@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montagu Slab", sans-serif;
}

body {
    background-color: #184b2f;
}
body::-webkit-scrollbar {
    display: none;
}


.navbar {
    width: auto;
    height: auto;
    padding-top: -15px;
    padding-bottom: -15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #006445;
    background-size: inherit;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 100px;
    position: relative; /* de navbar zelf*/
}
.navbar ul li a {
    font-family: Barlow, serif;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    /* de text van de navbar*/
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #184b2f;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.7s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.banner {
    width: 20%;
    scale: 69%;
    margin-left: 0;
    height: 120px;
    margin-top: -19px; /*de TCR Logo bovenaan de website*/
}


.footlogo {
    scale: 68%;
    height: 0;
    margin-left: -150px; /* de TCR Logo in de footer*/

}
button {
    background-color: #dbff4a ;
    border: none;
    color: black;
    padding: 10px 30px;
    margin: 20px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px; /*Button voor aanmelden kan*/
}


.column-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.column-right h1 {
    font-size: 40px;
    text-align: left;
    justify-content: space-between;
    margin: 20px 100px;
    color: #ffffff;
}

h1 {
    color: #ffffff;
}
h2 {
    color: #ffffff;
}

.column-right p {
    font-size: 20px;
    margin: 7px 0;

}

.column-right input {
    font-size: 15px;
    padding: 10px 10px;
    width: 100%;
    color: black;
}


.column-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 153px;

}
.column-main {
    display: flex;
    justify-content: right;
    padding: 0 2rem;

}

iframe {
    width: 500px;
    height: 290px;
    justify-content: space-evenly;
}

a {
    color: Red;
}

.glass {
    width: 1450px;        /* 700 px */
    height: 525px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 50px;
    color: #000;
    border-radius: 9px;
    backdrop-filter: blur(50px);
    border: 2px solid transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
    line-height: 1.5;
}

.glass-1 {
    width: 500px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 50px;
    color: rgb(122, 82, 82);
    border-radius: 9px;
    backdrop-filter: blur(50px);
    border: 2px solid transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
    line-height: 1.5;

}
.glass h1 {
    font-size: 1.5rem;
    text-align: center;
}
.glass h2 {
    font-size: 1rem;
    margin-top: 20px;
}
.input {
    width: 100%;
    height: 70px;
    overflow: hidden;
    margin-top: 40px;
}
.input input {
    width: 100%;
    height: 70px;
    border: none;
    padding-left: 30px;
    padding-top: 0;
    outline: none;
    font-size: 1.5rem;
    border-radius: 20px;
}
.glass p {
    font-size: 1.6rem;
    margin-top: 30px;
    color: white;
}